<%= simple_form_for(@event) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name %>
		<%= f.input :description %>

	</div>
	<div class="nested-fields">
		<%= f.simple_fields_for :links do |link| %>
			<%= render 'link_fields', f: link %>
		<% end %>
	</div>
	<div class="links" style="padding: 30px 30px;">
		<%= link_to_add_association 'Add Link', f, :links, class: "btn btn-default add-buton" %>
	</div>

	<div class="form-actions">
		<%= f.button :submit %>
	
		<%= link_to 'Back', events_path, class: "btn btn-default" %>
	</div>

<% end %>
