<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<div class="row">
	<% @event.links.each do |link| %>
		<div class="col-sm-6 col-md-3">
			<div class="linkBtn">
				<p><%= link.label %>
				<%= url_for(link.url) %>
				<%= link.url %></p>
			</div>
		</div>
	<% end %>
</div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
