<!DOCTYPE html>
<html>
	<head>
		<title>Event Dashboard</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="nav navbar navbar-default">
			<div class="container">
				<div class="navbar-brand"><%= link_to "Event Dashboard", root_path %></div>
				<ul class="nav navbar-nav">
					<li><%= link_to "All Events", root_path %></li>
				</ul>
				<%= link_to "New Event", new_event_path, class: "navbar-text navbar-right navbar-link" %>
			</div>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<%= yield %>
			</div>
		</div>
	</body>
</html>